
.jumbotron {
    background-color: rgba(14, 15, 15, 0.205);
    padding: 5px;
    margin-top: 70px;
    border-radius: 10px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.jumbotron h3,label,Control{
    color: rgb(10, 10, 10);

}
